// Colores
$theme-colors: (
    "primary": #1a4768,
    "secondary": #377695,
    "success": #18aa5f,
    "info": #3bd8a3,
    "warning": #e6cc18, 
    "danger": #f70a0c,
    "light": #d5e9fa, 
    "dark": #250c51
);
// Colores 2
$colores-custom:(
    "primary-verde": #1d753a,
    "secondary-verde": #1cb34e,
    "color1":#473746, //creo que son los peores nombres que se me han ocurrido por lejos XDDD 
    "color2":#a36b56,
    "color3":#c4a958
);
//merge
$theme-colors: map-merge($theme-colors , $colores-custom );
// imports
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss";