// Colores
$theme-colors: (
    "primary": #1a4768,
    "secondary": #377695,
    "success": #18aa5f,
    "info": #3bd8a3,
    "warning": #e6cc18, 
    "danger": #f70a0c,
    "light": #d5e9fa, 
    "dark": #250c51
);
// Colores 2
$colores-custom:(
    "primary-amarillo": #febd49,
    "secondary-amarillo": #ffc870, //nos parecio una pesima idea usar este color XDD no creo que lo usemos, es basura dentro del codigo :p
);
//merge
$theme-colors: map-merge($theme-colors , $colores-custom );
// imports
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss";